In [80]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [81]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1696,tt0431308,30000000,156835339,P.S. I Love You,Hilary Swank|Gerard Butler|Lisa Kudrow|Harry C...,Richard LaGravenese,"His life ended. Now, a new one will begin.",A young widow discovers that her late husband ...,126,Drama|Romance,Wendy Finerman Productions|Alcon Entertainment...,11/15/2007,7.0,2007
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014

In [82]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [83]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# 1) Добавляем столбец (profit = revenue - budget)
data['profit'] = data['revenue']- data['budget']

# 2) Добавляем столбец genres_list
data['genres_list'] = data['genres'].apply(lambda x: str(x).split(sep='|'))

# 3) Добавляем столбец cast_list
data['cast_list'] = data['cast'].apply(lambda x: str(x).split(sep='|'))

# 4) Добавляем director_list
data['director_list'] = data['director'].apply(lambda x: str(x).split(sep='|'))

# 5) Добавляем production_companies_list
data['production_companies_list'] = data['production_companies'].apply(lambda x: str(x).split(sep='|'))

data = data.astype({'release_date': 'datetime64'})

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data.info()
#data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdb_id                    1889 non-null   object
 1   budget                     1889 non-null   int64
 2   revenue                    1889 non-null   int64
 3   original_title             1889 non-null   object
 4   cast                       1889 non-null   object
 5   director                   1889 non-null   object
 6   tagline                    1889 non-null   object
 7   overview                   1889 non-null   object
 8   runtime                    1889 non-null   int64
 9   genres                     1889 non-null   object
 10  production_companies       1889 non-null   object
 11  release_date               1889 non-null   datetime64[ns]
 12  vote_average               1889 non-null   float64
 13  release_year               1889 non-null   int64
 14  profit                     1889 non-null   int64
 15  genres_list                1889 non-null   object
 16  cast_list                  1889 non-null   object
 17  director_list              1889 non-null   object
 18  production_companies_list  1889 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(5), object(12)
memory usage: 280.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [84]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [85]:
# тут пишем ваш код для решения данного вопроса:

# ----------------------------------Способ 1-----------------------------
# 1) Проверяем, что имя фильма не уникально.
# В датафрейме встречаются фильмы с одинаковыми названиями (original_title), но с разным ид (imdb_id).
# Например: 'The Gift ', 'Fantastic Four'   
display(data['original_title'].value_counts().sort_values(ascending=False))

# 2) Производим группировку и подсчет максимального 'budget' в разрезе ['imdb_id','original_title']
grouped_data = data.groupby(['imdb_id','original_title'])['budget'].max().sort_values(ascending=False)

answers['1'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' #
display(answers)

Fantastic Four                       2
The Gift                             2
Charlie and the Chocolate Factory    1
The Wedding Planner                  1
Evil Dead                            1
                                    ..
Jurassic Park III                    1
Dylan Dog: Dead of Night             1
Gone Baby Gone                       1
Orphan                               1
The Walk                             1
Name: original_title, Length: 1887, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

ВАРИАНТ 2

In [86]:
# ----------------------------------Способ 2-----------------------------
# 1) Сортируем датафрейм по столбцу 'budget' по убывания и берем первую строку
data_sorted = data.sort_values(['budget'], ascending=[0], ignore_index=True)
display(data_sorted.iloc[0])

answers['1'] = f'{data_sorted.iloc[0][3]} ({data_sorted.iloc[0][0]})' # +
display(answers)

imdb_id                                                              tt1298650
budget                                                               380000000
revenue                                                             1021683000
original_title                     Pirates of the Caribbean: On Stranger Tides
cast                         Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                          Rob Marshall
tagline                                            Live Forever Or Die Trying.
overview                     Captain Jack Sparrow crosses paths with a woma...
runtime                                                                    136
genres                                                Adventure|Action|Fantasy
production_companies         Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                               2011-05-11 00:00:00
vote_average                                                               6.3
release_year                                                              2011
profit                                                               641683000
genres_list                                       [Adventure, Action, Fantasy]
cast_list                    [Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...
director_list                                                   [Rob Marshall]
production_companies_list    [Walt Disney Pictures, Jerry Bruckheimer Films...
Name: 0, dtype: object

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

# 2. Какой из фильмов самый длительный (в минутах)?

In [87]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [88]:
# 1) Производим группировку и подсчет максимального 'runtime' в разрезе ['imdb_id','original_title']
grouped_data = data.groupby(['imdb_id','original_title'])['runtime'].max().sort_values(ascending=False)
#display(grouped_data)

answers['2'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [89]:
# 1) Производим группировку и подсчет минимального 'runtime' в разрезе ['imdb_id','original_title']
grouped_data = data.groupby(['imdb_id','original_title'])['runtime'].max().sort_values(ascending=True)
#display(grouped_data)

answers['3'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)'}

# 4. Какова средняя длительность фильмов?

In [90]:
# 1) Вычисляем среднее по столбцу 'runtime' по всем строкам
films_mean = data['runtime'].mean()

answers['4'] = f'{films_mean:.0f}' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110'}

# 5. Каково медианное значение длительности фильмов?

In [91]:
# 1) Вычисляем среднее по столбцу 'runtime' по всем строкам
films_median = data['runtime'].median()

answers['5'] = f'{films_median:.0f}' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107'}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [92]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# 1) Производим группировку и подсчет максимального 'profit' в разрезе ['imdb_id','original_title']
grouped_data = data.groupby(['imdb_id','original_title'])['profit'].max().sort_values(ascending=False)
#display(grouped_data)

answers['6'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)'}

# 7. Какой фильм самый убыточный?

In [93]:
# 1) Производим группировку и подсчет минимального 'profit' в разрезе ['imdb_id','original_title']
grouped_data = data.groupby(['imdb_id','original_title'])['profit'].max().sort_values(ascending=True)
#display(grouped_data)

answers['7'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [94]:
# 1) Вычисляем количество прибыльных фильмов
films_profit = data[data['profit'] > 0]
#display(films_profit)

answers['8'] = f'{len(films_profit)}' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478'}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [95]:
# 1) Отбираем все фильмы с датой выхода 2008 г.
films_release_year_2008 = data[data['release_year'] == 2008]

# 2) Производим группировку и подсчет максимального 'profit' в разрезе ['imdb_id','original_title']
grouped_data = films_release_year_2008.groupby(['imdb_id','original_title'])['profit'].max().sort_values(ascending=False)
#display(grouped_data)

answers['9'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [96]:
# 1) Отбираем все фильмы с датой выхода за период с 2012 по 2014 г. (включительно).
films_release_by_period = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]

# 2) Производим группировку и подсчет максимального 'profit' в разрезе ['imdb_id','original_title']
grouped_data = films_release_by_period.groupby(['imdb_id','original_title'])['profit'].max().sort_values(ascending=True)
#display(grouped_data)

answers['10'] = f'{grouped_data.index[0][1]} ({grouped_data.index[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [97]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# ----------------------------------Способ 1 (с помощью Counter)-----------------------------
genre_counter = Counter()
# 1) Создаем счетчик genre_counter и помещаем в него все жанры разделенные |

for genre_str in data['genres']:
    for genre in genre_str.split(sep='|'):
        genre_counter[genre]+=1

#display(genre_counter)

answers['11'] = f'{genre_counter.most_common(1)[0][0]}' # 
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama'}

ВАРИАНТ 2

In [98]:
# ----------------------------------Способ 2 (с помощью explode)-----------------------------
# 1) C помощью метода explode получим новый датафрейм
data_explode = data.explode('genres_list')

genres_statistic = data_explode['genres_list'].value_counts()
#display(genres_statistic)

answers['11'] = f'{genres_statistic.index[0]}' # 
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama'}

ВАРИАНТ 3

In [99]:

# ----------------------------------Способ 3 (с помощью stack)-----------------------------

# 1) Создаем датафрейм genres_list в котором столбцы это разделенные жанры и с помощью метода stack получим новый датафрейм
genres_list =data['genres'].apply(lambda x: pd.Series(str(x).split(sep='|')))
#display(genres_list)

genres_list_df = genres_list.stack()
genres_statistic = genres_list_df.value_counts()
#display(genres_statistic)

answers['11'] = f'{genres_statistic.index[0]}' # 
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [100]:
#C помощью метода explode получим новый датафрейм
data_explode = data.explode('genres_list')
#display(data_explode)

# 2) В датафрейме data_explode оставляем только те строки, где 'profit' > 0
genres_statistic = data_explode[data_explode['profit'] > 0 ]['genres_list'].value_counts()
display(genres_statistic)

answers['12'] = f'{genres_statistic.index[0]}' # 
display(answers)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [101]:
# 1) Производим группировку и подсчет максимально 'revenue' в разрезе ['director_list']
data_explode = data.explode('director_list')
grouped_data = data_explode.groupby('director_list')['revenue'].sum().sort_values(ascending=False)
display(grouped_data)
answers['13'] = f'{grouped_data.index[0]}' # +
display(answers)

director_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [102]:
# 1) C помощью метода explode получим новый датафрейм
data_explode = data.explode('director_list')
#display(data_explode)

director_statistic = data_explode[data_explode['genres'].str.contains('Action')]['director_list'].value_counts()
display(director_statistic)

answers['14'] = f'{director_statistic.index[0]}' # +
display(answers)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Rian Johnson          1
Shane Acker           1
Patrick Lussier       1
Sean McNamara         1
Rob Letterman         1
Name: director_list, Length: 364, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [103]:
# 1) C помощью метода explode получим новый датафрейм
data_explode = data.explode('cast_list')
#display(data_explode.head())

# 2) В датафрейме data_explode оставляем только те строки, где 'release_year' == 2012.
# Результат преобразуем в новый датафрейм 'cast_statistic_df'
cast_statistic_df = data_explode[data_explode['release_year'] == 2012 ][['cast_list','revenue']].reset_index()
#display(cast_statistic_df.head())

# 3) Вычисляем сумму всех кассовых сборов для каждого актера
best_cast = cast_statistic_df.groupby('cast_list')['revenue'].sum().sort_values(ascending=False)
display(best_cast)

answers['15'] = f'{best_cast.index[0]}' # +
display(answers)

cast_list
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [104]:
# 1) C помощью метода explode получим новый датафрейм
data_explode = data.explode('cast_list')
#display(data_explode.head())

# 2) В датафрейме data_explode оставляем только те строки, где 'budget' выше среднего
cast_statistic = data_explode[data_explode['budget'] > data_explode['budget'].mean()]['cast_list'].value_counts().sort_values(ascending=False)
display(cast_statistic)

answers['16'] = f'{cast_statistic.index[0]}' # +
display(answers)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Peter Mullan          1
Scott Speedman        1
Ayelet Zurer          1
Santino Fontana       1
Katy Perry            1
Name: cast_list, Length: 1505, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [105]:
# 1) C помощью метода explode получим новый датафрейм
data_explode = data.explode('cast_list')
#display(data_explode.head())

# 2) В датафрейме data_explode оставляем только те строки, где 'cast_list' == 'Nicolas Cage'
nicolas_cage_df = data_explode[data_explode['cast_list'] == 'Nicolas Cage'].explode('genres_list')

most_popular_genre = nicolas_cage_df['genres_list'].value_counts().sort_values(ascending=False)

display(most_popular_genre)

answers['17'] = f'{most_popular_genre.index[0]}' # +
display(answers)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genres_list, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [106]:
# 1) C помощью метода explode получим новый датафрейм
data_explode = data.explode('production_companies_list')
#display(data_explode.info())

# 2) В датафрейме data_explode оставляем только те строки, где 'production_companies_list'== 'Paramount Pictures'
pp_films = data_explode[data_explode['production_companies_list'] == 'Paramount Pictures'].sort_values(['profit'], ascending=[1], ignore_index=True)
#display(pp_films)

answers['18'] = f'{pp_films.iloc[0][3]} ({pp_films.iloc[0][0]})' # +
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [107]:
# 1) Группируем по 'release_year' и считаем сумму
best_year = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
display(best_year)

answers['19'] = f'{best_year.index[0]}' # +
display(answers)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015'}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [108]:
# 1) Находим словосочетание 'Warner Bros'
wb_films = data[data['production_companies'].str.contains('Warner Bros')]
#display(wb_films)

# 3) Вычисляем 'profit' по всем годам
best_year = wb_films.groupby('release_year')['profit'].sum().sort_values(ascending=False)
display(best_year)

answers['20'] = f'{best_year.index[0]}' # +
display(answers)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014'}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [109]:
import calendar

# 1) Создаем столбец 'release_month' с номером месяца
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

grouped_data = data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False)
display(grouped_data)

answers['21'] = f'{calendar.month_name[grouped_data.index[0]]}' # +
display(answers)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [110]:
import calendar

# 1) Создаем столбец 'release_month' с номером месяца
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

grouped_data = data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False)
display(grouped_data)

films = [grouped_data[6],grouped_data[7],grouped_data[8]]
#display(films)

answers['22'] = f'{sum(films)}' # +
display(answers)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450'}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [111]:
# 1) Создаем столбец 'release_month' с номером месяца
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

# 2) C помощью метода explode получим новый датафрейм
data_explode = data.explode('director_list')
#display(data_explode)

# 3) Одбираем только зимние месяцы и группируем по 'release_month','director_list'
grouped_data = data_explode[data_explode['release_month'].isin([12,1,2])].groupby(['release_month','director_list'])['imdb_id'].count().reset_index()
#display(grouped_data)

# 4)  группируем по 'director_list' и считаем сумму по выпущенным фильмам 
data_winter = grouped_data.groupby('director_list')['imdb_id'].sum().sort_values(ascending=False)
display(data_winter)

answers['23'] = f'{data_winter.index[0]}' # +
display(answers)

director_list
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [112]:
# 1) Создаем столбец 'original_title_length' c длиной названий фильмов
data['original_title_length'] = data['original_title'].map(lambda x: len(x))

# 2) C помощью метода explode получим новый датафрейм
data_explode = data.explode('production_companies_list')
#display(data_explode)

# 3) Группируем по 'production_companies_list' и считаем максимум по 'original_title_length'
grouped_data = data_explode.groupby('production_companies_list')['original_title_length'].max().sort_values(ascending=False)
display(grouped_data)

answers['24'] = f'{grouped_data.index[0]}' # ?
display(answers)

production_companies_list
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: original_title_length, Length: 1771, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [113]:
# 1) Создаем столбец 'original_title_length' c длиной названий фильмов
data['overview_length'] = data['overview'].map(lambda x: len(x))

# 2) C помощью метода explode получим новый датафрейм
data_explode = data.explode('production_companies_list')
#display(data_explode)

# 3) Группируем по 'production_companies_list' и считаем среднее по 'overview_length'
grouped_data = data_explode.groupby('production_companies_list')['overview_length'].mean().sort_values(ascending=False)
display(grouped_data)

answers['25'] = f'{grouped_data.index[0]}' # +
display(answers)

production_companies_list
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_length, Length: 1771, dtype: float64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [114]:
# 1) Находим 99 квантиль распределения 'vote_average'
quantile_99 = data['vote_average'].quantile(0.99)
display(quantile_99)

#best_films = data.loc[data['vote_average'].isin([5.0,7.4,4.9,7.6])]['original_title']
best_films = data.loc[data['vote_average'] > quantile_99 ]['original_title']
display(best_films, len(best_films))

best_films_str = ','.join(best_films)
# grouped_data = data.groupby(['imdb_id','original_title'])['vote_average'].value_counts(normalize=True).sort_values(ascending=False)
# display(grouped_data)

answers['26'] = f'{best_films_str}' # +
display(answers)

7.8

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

14

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out,Room,Interstellar,Guardians of the Galaxy,The Imitation Game,Gone Girl,The Grand Budapest Hotel,Inception,The Dark Knight,The Pianist,The Lord of the Rings: The Return of the King,The Wolf of Wall Street,12 Years a Slave,Memento'}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [115]:
# ----------------------------------Способ 1-----------------------------
from itertools import combinations

# 1) Создаем новый датафрейм
data_new = data[['imdb_id','cast_list']]

# 2) С помощью combinations получаем все возможные пары актеров
data_new['pairs'] = data_new['cast_list'].apply(lambda s: list(combinations(s, 2))) 
#display(data_new)

data_new = data_new.explode('pairs')
#display(data_new)

pairs = data_new['pairs'].value_counts()
display(pairs)

answers['27'] = f'{pairs.index[0]}' # +
display(answers)

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Steve Zahn, Brittany Murphy)          1
(Dan Futterman, Denis O'Hare)          1
(Christian Bale, Moon Bloodgood)       1
(Lindsay Lohan, Rachel McAdams)        1
(Melissa George, Jesse James)          1
Name: pairs, Length: 18121, dtype: int64

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out,Room,Interstellar,Guardians of the Galaxy,The Imitation Game,Gone Girl,The Grand Budapest Hotel,Inception,The Dark Knight,The Pianist,The Lord of the Rings: The Return of the King,The Wolf of Wall Street,12 Years a Slave,Memento',
 '27': "('Daniel Radcliffe', 'Rupert Grint')"}

In [116]:
# ----------------------------------Способ 2-----------------------------
# 1) Создаем новый датафрейм c помощью explode
data_new = data[['imdb_id','cast_list']].explode('cast_list')
#display(data_new)

# 2) Производим внутренней самосоединение data_new сам с собой по ключу 'imdb_id' чтобы получить всевозможные пары актеров
data_joined = data_new.merge(data_new, on='imdb_id', how='inner')

# 3) Убираем равные пары с одикаковыми парами
data_joined = data_joined[data_joined['cast_list_x'] != data_joined['cast_list_y']]

# 4) Создаем столбе 'pairs' чтобы потом оставить только одну пару вида (а,b) а пару (b,a) удалить
data_joined['pairs'] =  data_joined.apply(lambda s: '|'.join(sorted([s.iloc[0],s.iloc[1],s.iloc[2]])), axis=1)

# 5) Удаляем ненужные пары
data_joined = data_joined.drop_duplicates(subset='pairs')

result = data_joined.groupby(['cast_list_x','cast_list_y'])['imdb_id'].count().sort_values(ascending=False)
display(result)
#result.index[0]
# answers['27'] = f'{pairs.index[0]}' # +
# display(answers)

cast_list_x          cast_list_y
Daniel Radcliffe     Emma Watson                 8
                     Rupert Grint                8
Rupert Grint         Emma Watson                 7
Johnny Depp          Helena Bonham Carter        6
Ben Stiller          Owen Wilson                 6
                                                ..
Matthew McConaughey  Rene Russo                  1
                     Reese Witherspoon           1
                     Powers Boothe               1
                     PenÃ©lope Cruz              1
50 Cent              Adewale Akinnuoye-Agbaje    1
Name: imdb_id, Length: 18119, dtype: int64

# Submission

In [117]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out,Room,Interstellar,Guardians of the Galaxy,The Imitation Game,Gone Girl,The Grand Budapest Hotel,Inception,The Dark Knight,The Pianist,The Lord of the Rings: The Return of the King,The Wolf of Wall Street,12 Years a Slave,Memento',
 '27': "('Daniel Radcliffe', 'Rupert Grint')"}

In [118]:
# и убедиться что ни чего не пропустил)
len(answers)

27